// Layout variables partial

$section-padding: 40px 0;

section, footer {
	background-color: $section-light;
	text-align: center;
}

#invitation,
#events,
#gifts,
#rsvp {
	padding-bottom: 40px;
	border-bottom: 1px solid $keyline-color;
}

#invitation,
#events,
#rsvp {
	background: $section-dark;
}