// Layout variables partial

$section-padding: 40px 0;

section, footer {
	text-align: center;
}

#invitation,
#events,
#gifts,
#rsvp {
	background-color: $section-light;
	padding-bottom: 40px;
}

footer
{
	border-top: 1px solid $keyline-color;
	background: $section-dark;
	padding-bottom: 50px;
}